body{
    margin:0;
}

div{
    padding: 0 100px 0 100px;
}


.container{
    position: relative;
    display: inline-block;
    padding: 0 0 50px 0;
}

img{
    width: 100%;
    height: 820px;
    padding: 0px;
}


.caption {
position: absolute;
  top: 65%;
  right: 2%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
}
p{
    font-family: 'Manrope', sans-serif;
}

h2{
    font-family: 'Manrope', sans-serif;

}

.bigname {
    font-family: 'Manrope', sans-serif;
    font-size: 120px;
    color: white;
    position: absolute;
    top: 40%;
    right: -6%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
}

.info{
    padding: 0 100px 10px 100px;
}
.line{
    background-color: grey;
    height: 0.07px;
    margin:50px;
    border: none;
    
}

.mywork{
    text-align:center;
    font-size: 40px;
    padding: 30px;
}

.cardcontainer{
    display: flex;
        
      }


      .hobbycard{
        flex: 1;
            border: 1px solid #ccc;
            padding: 0px;
            margin: 10px;
            height:300px;

            
        
    }

    .hobbycard:hover .bookshelf{

        transform: scale(1.1);
    }

    .hobbycard .bookshelf {
        transition: transform 0.3s ease, opacity 0.3s ease;
      }

    .bookshelf{
        height:300px;
        width: 100%;
    }
    
    
    .gamecard{
        flex: 1;
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px;
        
    }

footer{
    text-align:center;
    padding: 50px;
}
